.kasa-header {
  margin: 2em 3em 3em 3em;
}

.main-body {
  margin: 2em 3em;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .kasa-header {
    margin: 2em 1em 1em 1em;
  }

  .main-body {
    margin: 2em 1em;
  }
}
@font-face {
  font-family: Montserrat;
  src: url(/src/styles/font/Montserrat/Montserrat.ttf);
}
body {
  font-family: Montserrat;
}

.kasa-header {
  display: flex;
  justify-content: space-between;
}
.kasa-header .header-nav {
  display: flex;
  align-items: center;
}
.kasa-header .header-nav a {
  color: #ff6060;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  margin-left: 2em;
}
.kasa-header .header-nav .active {
  text-decoration: underline;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .kasa-header #logo {
    width: 145px;
    height: 47px;
  }
  .kasa-header .header-nav a {
    font-size: 12px;
  }
}
.hero-container {
  position: relative;
}
.hero-container .img-hero {
  margin-top: 2em;
  object-fit: cover;
  height: 180px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-size: cover;
  border-radius: 25px;
  filter: brightness(70%);
}
.hero-container .title-hero {
  position: absolute;
  top: 1.4em;
  left: 8em;
  color: white;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .hero-container {
    height: 111px;
    width: 100%;
  }
  .hero-container .img-hero {
    width: 100%;
    height: 100%;
  }
  .hero-container .title-hero {
    font-size: 24px;
    width: 217px;
    top: 0.5em;
    left: 1em;
  }
}
.main-home {
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-top: 2em;
}
.main-home .container-apartment {
  padding: 3em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-home .container-apartment .apart-card {
  margin-bottom: 2em;
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background-size: cover;
}
.main-home .container-apartment .apart-card .apart-card::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.main-home .container-apartment .apart-card .apart-card-title {
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 1em;
  position: absolute;
  bottom: 0;
  color: white;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .main-home {
    background-color: transparent;
  }
  .main-home .container-apartment {
    padding: 0;
    justify-content: center;
  }
  .main-home .container-apartment .apart-card {
    width: 351px;
    height: 255px;
  }
}
/* For screen between 576px and 900px */
@media screen and (min-width: 577px) and (max-width: 900px) {
  .main-home .container-apartment {
    justify-content: center;
  }
}
/* Mobile : For screen smaller than 400px */
@media screen and (max-width: 400px) {
  .main-home .container-apartment .apart-card {
    width: 300px;
  }
}
.footer {
  padding: 2em 2em 1em 2em;
  background-color: black;
  text-align: center;
}
.footer #logo-footer {
  width: 122px;
  height: 39.44px;
}
.footer .copyright {
  color: white;
  font-size: 24px;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .footer .copyright {
    font-size: 12px;
  }
}
.container-carousel {
  position: relative;
  margin-top: 2em;
}
.container-carousel .carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.container-carousel .carousel-img {
  object-fit: cover;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
.container-carousel .active-anim {
  opacity: 1;
}
.container-carousel .btn-carousel-next,
.container-carousel .btn-carousel-prev {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  margin-top: 13em;
}
.container-carousel .btn-carousel-next {
  right: 20px;
}
.container-carousel .btn-carousel-prev {
  left: 20px;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .container-carousel .carousel {
    height: 255px;
  }
  .container-carousel .carousel-img {
    height: 255px;
  }
  .container-carousel .btn-carousel-next,
.container-carousel .btn-carousel-prev {
    margin-top: 8.8em;
  }
  .container-carousel .btn-carousel-next img,
.container-carousel .btn-carousel-prev img {
    width: 11.67px;
    height: 19.8px;
  }
  .container-carousel .btn-carousel-next .btn-carousel-next,
.container-carousel .btn-carousel-prev .btn-carousel-next {
    right: 10px;
  }
  .container-carousel .btn-carousel-next .btn-carousel-prev,
.container-carousel .btn-carousel-prev .btn-carousel-prev {
    left: 10px;
  }
}
.main-apartment {
  color: #ff6060;
}
.main-apartment .header-apartment {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}
.main-apartment .header-apartment .container-info-apartment {
  margin-top: 27em;
}
.main-apartment .header-apartment .container-info-apartment .title {
  max-width: 80%;
  font-size: 36px;
  font-weight: 500;
  margin: 0em;
  margin-top: 0.2em;
}
.main-apartment .header-apartment .container-info-apartment .location {
  font-size: 18px;
  font-weight: 500;
}
.main-apartment .header-apartment .container-info-apartment .tags {
  display: flex;
  padding: 0em;
}
.main-apartment .header-apartment .container-info-apartment .tags li {
  font-size: 14px;
  font-weight: 500;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  margin-right: 2em;
  padding: 0.5em 2.5em;
}
.main-apartment .header-apartment .container-host {
  min-width: 150px;
  margin-top: 27em;
}
.main-apartment .header-apartment .container-host .container-host-person {
  display: flex;
  margin-bottom: 1em;
}
.main-apartment .header-apartment .container-host .container-host-person .name {
  margin-top: 0.5em;
}
.main-apartment .header-apartment .container-host .container-host-person .name .host-firstname,
.main-apartment .header-apartment .container-host .container-host-person .name .host-lastname {
  font-size: 18px;
  font-weight: 500;
  margin: 0em;
}
.main-apartment .header-apartment .container-host .container-host-person .host-img {
  width: 64px;
  height: 64px;
  border-radius: 9.5em;
  object-fit: cover;
  margin-left: 1em;
}
.main-apartment .header-apartment .container-host .stars {
  font-size: 30px;
}
.main-apartment .container-collapse {
  width: 100%;
}
.main-apartment .container-collapse .collapse-apartment {
  display: flex;
  gap: 4em;
  margin: 1em 0em 4em 0em;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .main-apartment {
    margin-top: 18em;
  }
  .main-apartment .header-apartment {
    flex-direction: column;
  }
  .main-apartment .header-apartment .container-info-apartment .title {
    font-size: 18px;
  }
  .main-apartment .header-apartment .container-info-apartment .location {
    font-size: 14px;
  }
  .main-apartment .header-apartment .container-info-apartment .tags {
    font-size: 10px;
    flex-wrap: wrap;
  }
  .main-apartment .header-apartment .container-info-apartment .tags li {
    margin-bottom: 1em;
  }
  .main-apartment .header-apartment .container-host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .main-apartment .header-apartment .container-host .container-host-person .name {
    margin-top: 0;
  }
  .main-apartment .header-apartment .container-host .container-host-person .name .host-firstname {
    font-size: 12px;
  }
  .main-apartment .header-apartment .container-host .container-host-person .name .host-lastname {
    font-size: 12px;
  }
  .main-apartment .header-apartment .container-host .container-host-person .host-img {
    width: 32px;
    height: 32px;
  }
  .main-apartment .header-apartment .container-host .container-stars {
    margin-top: 0.4em;
  }
  .main-apartment .header-apartment .container-host .container-stars .stars {
    font-size: 15px;
  }
  .main-apartment .container-collapse .collapse-apartment {
    flex-direction: column;
    gap: 2em;
  }
}
.container-collapse {
  width: 50%;
}
.container-collapse .collapse {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: left;
  padding: 0.8em 1em 0em 1em;
  height: 52px;
  width: 100%;
}
.container-collapse .content-collapse {
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 18px;
  font-weight: 400;
  padding: 18px;
  line-height: 142.6%;
  border-radius: 0px 0px 5px 5px;
  display: none;
}
.container-collapse .equipment {
  margin: 0;
}
.container-collapse .chevron-collapse {
  transition: transform 0.6s ease;
}
.container-collapse .active .chevron-collapse {
  transform: rotate(180deg);
}
.container-collapse .active .content-collapse {
  display: block;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .container-collapse .collapse {
    font-size: 13px;
    height: 24px;
    border-radius: 5px;
    padding-top: 0.3em;
  }
  .container-collapse .collapse .chevron-collapse {
    width: 15px;
    padding-top: 0.2em;
  }
  .container-collapse .content-collapse {
    font-size: 12px;
  }
}
.collapse-about {
  margin-top: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.collapse-about .container-collapse {
  margin-bottom: 2em;
  width: 100%;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .collapse-about {
    margin-left: 0;
    margin-left: 0;
    width: 100%;
  }

  .hero-about .hero-container {
    height: 223px;
  }
  .hero-about .hero-container .img-hero {
    object-fit: none;
  }
}
.main-error404 {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-error404 .error-404 {
  font-size: 288px;
  font-weight: 700;
  margin: 0.3em 0em 0.1em 0em;
}
.main-error404 .error-msg {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 4em;
}
.main-error404 a {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3em;
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .main-error404 {
    margin-top: 10em;
  }
  .main-error404 .error-404 {
    font-size: 96px;
  }
  .main-error404 .error-msg {
    font-size: 18px;
    width: 260px;
    text-align: center;
  }
  .main-error404 a {
    font-size: 14px;
    margin-top: 6em;
  }
}

/*# sourceMappingURL=style.css.map */
