.container-carousel {
  position: relative;
  margin-top: 2em;
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .carousel-img {
    object-fit: cover;
    width: 100%;
    height: 415px;
    border-radius: 25px;
  }
  .active-anim {
    opacity: 1;
  }
  .btn-carousel-next,
  .btn-carousel-prev {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 13em;
  }
  .btn-carousel-next {
    top: 50%;
    right: 20px;
  }
  .btn-carousel-prev {
    top: 50%;
    left: 20px;
  }
}
