.main-apartment {
  color: $primary;
  .header-apartment {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    .container-info-apartment {
      margin-top: 27em;
      .title {
        max-width: 80%;
        font-size: 36px;
        font-weight: 500;
        margin: 0em;
        margin-top: 0.2em;
      }
      .location {
        font-size: 18px;
        font-weight: 500;
      }
      .tags {
        display: flex;
        padding: 0em;
        li {
          font-size: 14px;
          font-weight: 500;
          background-color: $primary;
          color: white;
          border-radius: 10px;
          margin-right: 2em;
          padding: 0.5em 2.5em;
        }
      }
    }
    .container-host {
      min-width: 150px;
      margin-top: 27em;
      .container-host-person {
        display: flex;
        margin-bottom: 1em;
        .name {
          margin-top: 0.5em;
          .host-firstname,
          .host-lastname {
            font-size: 18px;
            font-weight: 500;
            margin: 0em;
          }
        }
        .host-img {
          width: 64px;
          height: 64px;
          border-radius: 9.5em;
          object-fit: cover;
          margin-left: 1em;
        }
      }
      .stars {
        font-size: 30px;
      }
    }
  }
  .container-collapse {
    width: 100%;
    .collapse-apartment {
      display: flex;
      gap: 4em;
      margin: 1em 0em 4em 0em;
    }
  }
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .main-apartment {
    margin-top: 18em;
    .header-apartment {
      flex-direction: column;
      .container-info-apartment {
        .title {
          font-size: 18px;
        }
        .location {
          font-size: 14px;
        }
        .tags {
          font-size: 10px;
          flex-wrap: wrap;
          li {
            margin-bottom: 1em;
          }
        }
      }
      .container-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .container-host-person {
          .name {
            margin-top: 0;
            .host-firstname {
              font-size: 12px;
            }
            .host-lastname {
              font-size: 12px;
            }
          }
          .host-img {
            width: 32px;
            height: 32px;
          }
        }
        .container-stars {
          margin-top: 0.4em;
          .stars {
            font-size: 15px;
          }
        }
      }
    }
    .container-collapse {
      .collapse-apartment {
        flex-direction: column;
        gap: 2em;
      }
    }
  }
}
