.collapse-about {
  margin-top: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  .container-collapse {
    margin-bottom: 2em;
    width: 100%;
  }
  .active {
    .chevron-collapse {
      transform: rotate(180deg);
    }
    .content-collapse {
      display: block;
    }
  }
}

/* Mobile : For screen smaller than 576px */
@media screen and (max-width: 576px) {
  .collapse-about {
    margin-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .hero-about {
    .hero-container {
      height: 223px;
      .img-hero {
        object-fit: none;
      }
    }
  }
}
